<a href="https://colab.research.google.com/github/mohakhalili/ANN_Sample_Codes/blob/master/OOP-Jadi/1_lambda_map_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lambda

syntax --> lambda arg : Expression

get the x as a input and do a expression on it

In [ ]:
myfunc = lambda x :x*2
myfunc(3)

6

where is it be use ?

In [ ]:
a = [(3,4),(7,1),(5,9),(2,2)] 
a.sort()
a

[(2, 2), (3, 4), (5, 9), (7, 1)]

sort by second argumant with lambda

In [ ]:
a.sort(key = lambda  x:x[1])
print(a)

[(7, 1), (2, 2), (3, 4), (5, 9)]

# map

suppose you have a list, map assign a function to every member of the list

syntax --> map(function, list)

ex1: You have a list, write a code that returns another list that each member of the previous list be a power of 2

In [ ]:
mylist = [2,3,5,1,3,7,9,3]
print(list(map(lambda x:x*2,mylist)))

[4, 6, 10, 2, 6, 14, 18, 6]

map return a map variable, If you want a list, you must call the list function before map

ex2: suppose you have a list of numbers, I want to say 'big' instead of those are greater than 10, and  say 'small' instead of those are smaller than 10

In [ ]:
numbers = [2, 54, 8, 43, 1]
print(list(map(lambda x:'big' if x>10 else 'small' , numbers)))

['small', 'big', 'small', 'big', 'small']

another form of loop and conditional expressions --> linear

# filter

filter says I have a list, filter that list by a function to the one I say

ex: suppose you have a list, return another list which only the members are divisible to 2

In [ ]:
my_list = [1,3,6,8,3]
list(filter(lambda x:x%2==0, my_list))

[6, 8]